.text-uppercase {
  text-transform: uppercase;
}

.font-weight-500 {
  font-weight: 500;
}

.display-linebreak {
  white-space: pre-line;
}

.text-no-select {
  user-select: none;
}

.font-bold {
  font-weight: bold;
}

.icon-inline {
  display: inline-flex;
  vertical-align: middle;
}
